*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(37, 202, 202);
    display: flex;
    flex-wrap: wrap;
}
#addBtn{
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgb(40, 40, 41);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.note{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: white;
    margin-top: 50px ;
}
.tool{
    width: 100%;
    color: white;
    background-color: rgb(40, 40, 41);
    padding: 5px;
    display: flex;
    justify-content: end;
}
.tool i{
    padding: 5px;
    cursor: pointer;
}
.note textarea{
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 15px;
    border: none;
    outline: 0;
    resize: none;
}
